*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color:lime;
}
.grid-container{
    margin:auto;
    background-color: aqua;
}
.square{
    float:left;
    background-color: red;
    border:1px solid black;
}
.clear{
    clear:both;
}
.heading{
    text-align: center;
    background-color: aqua;
    font-family: Helvetica, Arial, sans-serif;
}
.ChangeGrid{
    margin: 10px 0px;
    text-align: center;
}
